@media screen and (min-width:0px){
    body{
        text-size-adjust: 100%;
        background-color: #dd8c22;
        text-align: center;
    }
    header{
        display: flex;
        width: auto;
        align-items: center;
        background-color: #b67d7d94;
        border: 10px solid;
        border-color: #ff880069;
        border-radius: 10%;
    }
    h1.title{
        font-size: 400%;
        margin-right: auto; 
        font-family: 'Xanh Mono', monospace;
    }
    .menu{
        margin: auto;
        list-style: none;
        display: flex;
    }
    .bt1{
        font-size: 100%;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: auto;
        height: 3em;
        border-radius: 10px;
    }
    #textpos{position: relative;width: 100%;margin: auto;}/*親ポジ*/
    
    .panel{
        position: relative;top: 10vw;
        background: #b67d7d9d;
        padding: 0.5em 0em;
        color: #f3efeb;
    }
    .panel2{
        background: #b67d7dbb;
        position: relative;top: 20vw;
        color: #ebe6e6;
        text-align: center;
        padding: 0.5em 0em;
    }
    #lo{
        text-align: center;
        position: relative;top: 60vw;
        padding: 0.5em 0em;
        background: white;
    }
    .pic{
        width: 90%;
    }
}

@media screen and (min-width:760px){/*pc*/
    body{
        text-size-adjust: 100%;
        background-color: #dd8c22;
        margin: 0 1;
        background:url("cafe-top.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
    }
    
    header{
        display: flex;
        width: auto;
        height: 15em;
        align-items: center;
        background-color: #b67d7d94;
        border: 10px solid;
        border-color: #ff880069;
        border-radius: 10%;
    }
    h1.title{
        font-size: 100px;
        margin-right: auto; 
        font-family: 'Xanh Mono', monospace;
    }
    .menu{
        margin: auto;
        list-style: none;
        display: inline-block;
        vertical-align: middle;
    }
    .bt1{
        font-size: 100%;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: auto;
        height: 3em;
        border-radius: 10px;
    }
    #textpos{position: relative;width: 80%;margin: auto;font-size: 125%;}/*親ポジ*/
    
    .panel{
        position: relative;top: 10vw;
        background: #b67d7d9d;
        padding: 0.5em 0em;
        color: #f3efeb;
        
    }
    .panel2{
        position: relative;top: 15vw;
        background: #b67d7dbb;
        padding: 0.5em 0em;
        color: #ebe6e6;
    }
    .panel2 ul{float: left;text-align: left;align-items: center;display: block;}
    
    #face{
        position: relative;top: 50vw;
        background: #b67d7dbb;
    }
    #lo{
        position: relative;top: 30vw;
        background: white;
        text-align: center;
        padding: 0.5em 0em;
    }
    .pic{
        width:60%;
    }

}
@media screen and (min-width:1150px){
    header{
        height: 10em;
    }
}
